@use "../settings/_variables.scss" as *;
@use "../settings/_mixins.scss" as *;

.container {
  max-width: $container-width;
  margin: 0 auto;

  @media (max-width: $md1) {
    padding: 0 10px;
  }
}

// svg {
// @include svg-color(#263141);
// }

.overlay {
  z-index: 6;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  // pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &._active {
    opacity: 1;
    visibility: visible;
  }
}

.button {
  color: $primary-white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: $red-light;
  border-radius: 8px;
  padding: 16px 20px;
  text-align: center;

  &:has(svg) {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  svg {
    transition: all 0.3s ease;
    @include svg-color($primary-white)
  }

  &:not([disabled], .blue) {
    &:hover {
      background-color: $red-light-500;
    }
  }

  &[disabled] {
    opacity: 0.7;
    user-select: none;
    cursor: auto;
    pointer-events: none;
  }
}

.title-h3 {
  color: #0f1113;
  font: 600 24px / 133% $font-family;
  @include adaptive-font(24, 16, 1);
}

.wp-input {
  &:has(svg) {
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }
}

.input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  font: 400 16px / 133% $font-family;
  transition: 0.3s;
  @include adaptive-font(16, 14, 1);

  &:focus {
    border-color: $red-light;
  }

  &.error {
    border-color: $red-light;
  }

  &[disabled] {
    background-color: #f3f3f3;
    user-select: none;
    pointer-events: none;

    &::placeholder {
      color: #cfcfcf;
    }
  }
}

.checkbox-input {
  display: none;

  &:checked+.checkbox-label {
    background-color: $red-light;
    border-color: $red-light;

    svg {
      opacity: 1;
      visibility: visible;
    }
  }
}

.checkbox-label {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;

  &:has(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
  }

  svg {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    border-color: $red-light;
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    // background-color: #fbf8ec;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $red-light;
    border-radius: 6px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.swiper-pagination {
  .swiper-pagination-bullet {
    &.swiper-pagination-bullet-active {
      background-color: $red-light;
    }
  }
}

.border {
  border: 1px solid #f2f5f9
}

.ReactModal__Overlay {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.45) !important;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.ReactModal__Body--open {
  // overflow: hidden;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.accordion-content.open {
  max-height: 100vh;
}

.swiper-payment {
  padding-bottom: 25px !important;

  .swiper-pagination {
    bottom: 0 !important;

    .swiper-pagination-bullet {
      &.swiper-pagination-bullet-active {
        background-color: $green-light;
      }
    }
  }
}

.custom-marker {
  background: white;
  padding: 4px 6px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  text-align: center;
  transform: translate(-50%, -100%);
  white-space: nowrap;
}