$font-family: "Inter", sans-serif;
$second-family: "SF UI Display", sans-serif;
$third-family: "Verdana", sans-serif;

$primary-dark: #2b3a4e;
$primary-gray: #4f6786;
$primary-white: #fff;
$primary-lines: #dfe4ea;
$primary-background: #f6f7f9;
$red-light: #ff4d4d;
$red-light-500: rgb(255, 128, 128);
$red-light-100: rgba(255, 77, 77, 0.1);
$red-dark: #db4141;
$green-light: #46d16d;
$green-light-100: rgba(70, 209, 109, 0.1);
$green-dark: #38ae59;
$yellow-light: #f69400;

$container-width: 1440;
$md1: $container-width + px;
$md2: 1024px;
$md3: 768px;
$md4: 480px;
$md5: 378px;